#activer_menu {
	display: none;
}

#menu {
	position: fixed;
	right: 0;
	top: 0;
	width: 280px;
	height: 100%;
	z-index: 1000;
	
	background-color: white;
	border-left: 1px solid black;
	
	-webkit-transform: translate(280px, 0);
	transform: translate(280px, 0);
	
	transition: 0.3s transform;
}

#activer_menu:checked + #menu {
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
	
}

#menu > .item {
	padding: 20px;
	display: block;
}

#menu > .item + .item {
	border-top: 1px solid black;
}
#menu .menu .item {
	display: block;
}

.logo_menu {
	position: fixed;
	width: 100px;
	text-align: center;
	bottom: 40px;
	right: 90px;
	text-decoration: none;
	cursor: pointer;
	
	text-transform: uppercase;
	font-family: nitti-grotesk, Verdana, sans-serif;
	font-size: 20px;
	font-weight: bold;
}

.logo_menu svg {
	width: 60px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}