body {margin:0}

.container p:first-of-type { width: 100%; }
.container p {  }
.container p.in:first-line, h2 + p:first-line { font-variant:small-caps }

p {
  text-indent: 0;
  margin-top:0;
  margin-bottom: 0.6em; }
p + p:not(.section) {
  text-indent: 1.8em;
  margin-top: -0.6em }

/* avec p.section, on met de l'air entre les paragraphes */
p + p.section {
  text-indent: 0;
  margin-top: 1em; }


.logo {
position: fixed;
top: 10px;
right: 10px;
width: 40px;
height: 40px;
background-color: #333;
z-index: 500;
padding:0;
border:0;
}


html { font-size: 150.1%; line-height: 1.2em; }
.header h1,.header .h1 {
 font-size: 4rem;
 margin: 0.5em 4% 0.3em;
 line-height: 0.95em;
 }
p { line-height: 1.43em; }

.lead {
  font-weight: 700;
  color: #444;}
.inverted .lead {
  color: #fff;
}

.surtitre dl {
margin-top: 0px;
}


@media screen and (max-width: 959px) {
	html { font-size: 120%; }
}
@media screen and (max-width: 599px) {
	html { font-size: 100%; }
}
@media screen and (min-width: 600px) {
	strong,b { color: #444; }
	.inverted strong, .inverted b { color: #fff; }
	.texte p {max-width: 90%; text-align: justify; }
	.texte iframe { margin-left: -5% }
}

h2, .h2, h3, .h3  {margin-top: 0.7em; margin-bottom: 0.3em;}
h4, .h4, h5, .h5  {margin-top: 0.5em; margin-bottom: 0.2em;}
h6, .h6  {margin-top: 0.4em; margin-bottom: 0.1em;}


.ui.menu .item, .ui.input input {
font-family: "Gill Sans", "Lucida Grande", "Verdana", sans-serif;
}

/* interactions parfois difficiles avec semantic-ui */
.box { padding: 0.6rem 0.6rem 0.6rem 0.6rem;}
.box p { margin-bottom: 0 }
blockquote { border: 0 }
.center { margin-left: auto!important; margin-right: auto!important}

.texte { margin-top:1.3em; }
.bando { margin:auto; } /* petite image en bandeau ? centrer */

.notes { font-size: 0.85em; color: #666; }

