body {margin:0}

.container p:first-of-type { width: 100%; }
.container p {  }
p.in:first-line, h2 + p:first-line { font-variant:small-caps }

/* class = tight pour resserrer les paragraphes */
.tight p {
  text-indent: 0;
  margin-top:0;
  margin-bottom: 0.6em; }
.tight p + p:not(.section) {
  text-indent: 1.8em;
  margin-top: -0.6em }

/* a l'inverse avec p.section, on met de l'air entre les paragraphes */
.tight p + p.section {
  text-indent: 0;
  margin-top: 1em; }


.logo {
position: fixed;
top: 10px;
right: 10px;
z-index: 500;
padding:0;
border:0;
}


html { font-size: 145.1%; }

html { line-height: 1.2em; }

.header h1,.header .h1 {
 font-size: 4em;
 margin: 0.5em 4% 0.3em;
 line-height: 0.95em;
 }
.content p { line-height: 1.43em; }
.content p { max-width: 34em; }

.lead {
  font-weight: 900;
  color: #444;}
.inverted .lead {
  color: #fff;
}

.surtitre dl {
margin-top: 0px;
}

@media screen and (max-width: 1299px) {
	html { font-size: 135.1%; }
}

@media screen and (max-width: 959px) {
	html { font-size: 125.1%; }
	/* ecran etroit : les docs ne flottent plus */
	.spip_documents_right, .spip_documents_left {
		float: none !important;
		margin-left: auto;
		margin-right: auto;
	}
}
@media screen and (max-width: 599px) {
	html { font-size: 110.1%; }
	.iflarge {display: none !important}
}
@media screen and (min-width: 600px) {
	strong,b { color: #444; }
	.inverted strong, .inverted b { color: #fff!important; }
	p { /*text-align: justify;*/ }
	.texte iframe { margin-left: -5% }
	.ifsmall {display: none !important}
}

h2, .h2, h3, .h3  {margin-top: 0.7em; margin-bottom: 0.3em;}
h4, .h4, h5, .h5  {margin-top: 0.5em; margin-bottom: 0.2em;}
h6, .h6  {margin-top: 0.4em; margin-bottom: 0.1em;}


.ui.menu .item, .ui.input input {
font-family: "Gill Sans", "Lucida Grande", "Verdana", sans-serif;
}

/* interactions parfois difficiles avec semantic-ui */
.box { padding: 0.6rem 0.6rem 0.6rem 0.6rem;}
.box p { margin-bottom: 0 }
blockquote { border: 0 }
.center { margin-left: auto!important; margin-right: auto!important}

.texte { margin-top:1.3em; }
.bando { margin:auto; } /* petite image en bandeau ? centrer */

.notes { font-size: 0.85em; color: #666; }



/* fixes tinytypo for SPIP */
.formulaire_spip ul,
.comments-items { list-style: none; margin: 0; }

/* fixes for tinytypo */
.invisible { display: none; }
blockquote { z-index: 0; }
.box_modalbox,
.box_modalbox * { -webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box; }

/* https://github.com/Schepp/CSS-Filters-Polyfill */
.logo img {
            transition-duration: 0.5s;
            filter: grayscale(1);
    -webkit-filter: grayscale(1);
}

.logo img:hover {
            transition-duration: 0.5s;
            filter: none;
    -webkit-filter: none;
}


/* eviter que la page n'explose lorsqu'on decale le menu */
body.pushed dl { max-width: 50em; }


/* compenser les padding ajoutés par ui.page.grid pour les images .fullwidth */

@media only screen and (max-width : 991px) {
  .ui.page.grid .fullwidth {
    margin: 0% -6%;
  }
}
@media only screen and (min-width : 992px) {
  .ui.page.grid .fullwidth {
    margin: 0% -11.4%;
  }
}
@media only screen and (min-width : 1500px) {
  .ui.page.grid .fullwidth {
    margin: 0% -19.7%;
  }
}
@media only screen and (min-width : 1750px) {
  .ui.page.grid .fullwidth {
    margin: 0% -20%;
  }
}
@media only screen and (min-width : 2000px) {
  .ui.page.grid .fullwidth {
    margin: 0% -20%;
  }
}

/* style effects généralisés (pas seulement img) */
.round {
  border-radius: 5px;
}
.circle {
  border-radius: 50%;
}
.border {
  padding: 4px;
  background-color: #fff;
  border: 1px solid #bbb;
}
span.shadow {
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7), -1px 2px 20px rgba(255, 255, 255, 0.6) inset;
  display: inline-block;
  max-width:100%;
}


/* eviter que la lagende ne soit trop large ou trop collee a l'image */
figcaption {
	font-size: 0.8em;
	line-height: 1.3em;
	margin-top: 0.5em;
	margin-left: 1em;
	margin-right: 0px;
}

.album figcaption {
	font-size: 1.2em;
	font-weight: 400;
	line-height: 1.3em;
	margin-top: 1em;
	text-align: left;
}

.fullwidth figcaption {
	margin-left: 15%;
	margin-right: 2em;
}

figure.spip_documents figcaption,figure.spip_documents_right figcaption {
	text-align: right;
}
figure.spip_documents_left {
	text-align: left;
}

/*
   toutes les figures doivent avoir une légende qui reste liée à l'image
   .caption-right a la caption a droite (mais pas en écran étroit)
*/
figure.spip_documents:not(.spip_documents_right):not(.fullwidth) {
	display: table;
	margin-left: 0;
}
figcaption {
/*	display: table-caption;
	caption-side: bottom;
*/
}
@media (min-width: 960px) {
	figure.caption-right {
		display: block;
	}
	figure.caption-right:after {
		content: "\0020";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
		overflow: hidden;
	}
	figure.caption-right > * {
		float: left;
	}
	figure.caption-right > figcaption {
		display: inline-block;
		text-align: left;
		width: 20%;
		padding-left: 0.8em;
		margin-left: 0;
		margin-top: 0;
	}
}

/* ecran etroit : les docs ne flottent plus */
@media (max-width: 959px) {
	.spip_documents_right, .spip_documents_left {
		float: none !important;
		margin-left: auto;
		margin-right: auto;
	}
	figure.spip_documents_right, figure.spip_documents_left {
		display:table;
	}
	figure.spip_documents_right figcaption, figure.spip_documents_left figcaption {
		text-align:left;
	}
}

/* la bio de l'auteur·e */
.lead h5 {
	font-size: 0.8em;
	font-weight: normal;
}


/* la legende de la colorbox */
#cboxTitle {
	font-weight: normal;
	font-family: "Lucida Grande", sans-serif;
	color: #fff;
	font-size: 0.65rem;
	padding: 0.25rem 1rem;
	text-align: left;
}
#cboxPrevious, #cboxNext {
background: none;
border: none;
}

.notes>div>p {
	margin-bottom: 0.7em;
}

/* small-caps d'orthotypo */
.caps {
 font-size: 0.85em;
}

/* appels de notes */
.spip_note_ref { font-size: 0.5em; position: relative; top: -0.7em; }
.spip_note_ref a { text-decoration: none; }


div#spip-admin.spip-admin-float {
position: absolute !important;
font-size: 0.8rem;
}
#icone_travaux { position: absolute !important; opacity: 0.2; }